<header class="py-2 md:py-6 font-body">
  <div class="container flex items-center justify-between px-4 mx-auto">
    <a href="https://poverty.umich.edu">{% include "signature.njk" %}</a>
  </div>
</header>